/* The breakpoint for CSS will be 400 px. Under 400 px will be considered a phone, any wider and it will use pc css. */
@media only screen and(max-width: 400px) {
    /* Header */
    
}

header{
    display: flex;
    font-size:smaller;
    border-bottom: 2px black solid;
    max-height:70px;
    margin-bottom: 20px;
}
header h1{
    align-self: center;
}
header img{
    max-width: 140px;
    border-right: black 2px solid;
}

/* MAIN */
.hero{
border: 3px black solid;
height: 200px;
margin-bottom: 20px;
}

.site-purpose{
    border: 3px black solid;
    height: 100px;
    margin-bottom: 20px;
}

.actions{
    display: block;
    margin: 0 auto ;

}
.actions button{
    display: block;
    margin:0px auto 15px auto;
    height: 44px;
    
}

/* FOOTER */
footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
    
}
footer nav ul{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    padding: 0px;
}